
### AutoSSL-Satellite Don't Edit Below This Line ###
<IfModule mod_rewrite.c>
	RewriteEngine On
	# Force HTTPS
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteRule ^(.*)$ "https://%{HTTP_HOST}%{REQUEST_URI}" [R=301,L]
</IfModule>
### AutoSSL-Satellite Don't Edit Above This Line ###

<IfModule mod_headers.c>
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

### AutoSSL-Satellite Don't Edit Below This Line ###
<IfModule mod_rewrite.c>
	RewriteEngine On
	# Force HTTPS
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteRule ^(.*)$ "https://%{HTTP_HOST}%{REQUEST_URI}" [R=301,L]
</IfModule>
### AutoSSL-Satellite Don't Edit Above This Line ###

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	
	# Custom Error Pages
	ErrorDocument 404 /404.html

	# 301 Redirects for Query String Doctor Profiles
	RewriteCond %{QUERY_STRING} ^id=rasna$
	RewriteRule ^doctor-profile\.html$ /doctors/general-practice/dr-rasna? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=nidhin$
	RewriteRule ^doctor-profile\.html$ /doctors/orthopedics/dr-nidhin? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=sandhya$
	RewriteRule ^doctor-profile\.html$ /doctors/gynaecologist/dr-sandhya? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=ali$
	RewriteRule ^doctor-profile\.html$ /doctors/ent/dr-ali? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=pradeep$
	RewriteRule ^doctor-profile\.html$ /doctors/ophthalmologist/dr-pradeep? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=vipul$
	RewriteRule ^doctor-profile\.html$ /doctors/dermatologist/dr-vipul? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=fatema$
	RewriteRule ^doctor-profile\.html$ /doctors/dentist/dr-fatema? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=salih$
	RewriteRule ^doctor-profile\.html$ /doctors/practitioner/dr-salih? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=rajani$
	RewriteRule ^doctor-profile\.html$ /doctors/practitioner/dr-rajani? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=sreevidya$
	RewriteRule ^doctor-profile\.html$ /doctors/pediatrician/dr-sreevidya? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=nayana$
	RewriteRule ^doctor-profile\.html$ /doctors/practitioner/dr-nayana? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=shemy$
	RewriteRule ^doctor-profile\.html$ /doctors/pathology/dr-shemy? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=hanitta$
	RewriteRule ^doctor-profile\.html$ /doctors/physiotherapydr/dr-hanitta? [R=301,L]

	# 301 Redirects for Query String Doctor Profiles (Arabic)
	RewriteCond %{QUERY_STRING} ^id=rasna$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/general-practice/dr-rasna? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=nidhin$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/orthopedics/dr-nidhin? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=sandhya$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/gynaecologist/dr-sandhya? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=ali$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/ent/dr-ali? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=pradeep$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/ophthalmologist/dr-pradeep? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=vipul$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/dermatologist/dr-vipul? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=fatema$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/dentist/dr-fatema? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=salih$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/practitioner/dr-salih? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=rajani$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/practitioner/dr-rajani? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=sreevidya$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/pediatrician/dr-sreevidya? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=nayana$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/practitioner/dr-nayana? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=shemy$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/pathology/dr-shemy? [R=301,L]

	RewriteCond %{QUERY_STRING} ^id=hanitta$
	RewriteRule ^arabic/doctor-profile\.html$ /arabic/doctors/physiotherapydr/dr-hanitta? [R=301,L]

	# 301 Redirects for HTML Extension Pages
	# ENV:REDIRECT_STATUS check prevents infinite loops when internally rewriting back to .html
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^index\.html$ / [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^about\.html$ /about [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^doctors\.html$ /doctors [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^services\.html$ /services [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^packages\.html$ /packages [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^contact\.html$ /contact [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^careers\.html$ /careers [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^news\.html$ /news [R=301,L]

	# 301 Redirects for HTML Extension Pages (Arabic)
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/index\.html$ /arabic/ [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/about\.html$ /arabic/about [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/doctors\.html$ /arabic/doctors [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/services\.html$ /arabic/services [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/packages\.html$ /arabic/packages [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/contact\.html$ /arabic/contact [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/careers\.html$ /arabic/careers [R=301,L]

	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^arabic/news\.html$ /arabic/news [R=301,L]

	# Specific Rewrite to fix 403 Forbidden on /doctors (because a folder named 'doctors' exists)
	RewriteRule ^doctors/?$ doctors.html [L]
	RewriteRule ^arabic/doctors/?$ arabic/doctors.html [L]

	# Internal Rewrites for Doctor Profiles
	RewriteRule ^doctors/general-practice/dr-rasna/?$ /doc_profiles/dr-rasna-munaifa.html [L]
	RewriteRule ^doctors/orthopedics/dr-nidhin/?$ /doc_profiles/dr-nidhin-padmanabhan.html [L]
	RewriteRule ^doctors/gynaecologist/dr-sandhya/?$ /doc_profiles/dr-sandhya-subhashchandran.html [L]
	RewriteRule ^doctors/ent/dr-ali/?$ /doc_profiles/dr-ali-akbar.html [L]
	RewriteRule ^doctors/ophthalmologist/dr-pradeep/?$ /doc_profiles/dr-pradeep-kumar-shetty.html [L]
	RewriteRule ^doctors/dermatologist/dr-vipul/?$ /doc_profiles/dr-vipul-paul-thomas.html [L]
	RewriteRule ^doctors/dentist/dr-fatema/?$ /doc_profiles/dr-fatema-tuj-jahura.html [L]
	RewriteRule ^doctors/practitioner/dr-salih/?$ /doc_profiles/dr-muhammed-salih.html [L]
	RewriteRule ^doctors/practitioner/dr-rajani/?$ /doc_profiles/dr-rajani-thachappilly.html [L]
	RewriteRule ^doctors/pediatrician/dr-sreevidya/?$ /doc_profiles/dr-sreevidya-arun.html [L]
	RewriteRule ^doctors/practitioner/dr-nayana/?$ /doc_profiles/dr-nayana-jose.html [L]
	RewriteRule ^doctors/pathology/dr-shemy/?$ /doc_profiles/dr-shemy-seebu.html [L]
	RewriteRule ^doctors/physiotherapydr/dr-hanitta/?$ /doc_profiles/ms-hanitta-thimothy.html [L]

	# Internal Rewrites for Doctor Profiles (Arabic)
	RewriteRule ^arabic/doctors/general-practice/dr-rasna/?$ /arabic/doctors/dr-rasna-munaifa.html [L]
	RewriteRule ^arabic/doctors/orthopedics/dr-nidhin/?$ /arabic/doctors/dr-nidhin-padmanabhan.html [L]
	RewriteRule ^arabic/doctors/gynaecologist/dr-sandhya/?$ /arabic/doctors/dr-sandhya-subhashchandran.html [L]
	RewriteRule ^arabic/doctors/ent/dr-ali/?$ /arabic/doctors/dr-ali-akbar.html [L]
	RewriteRule ^arabic/doctors/ophthalmologist/dr-pradeep/?$ /arabic/doctors/dr-pradeep-kumar-shetty.html [L]
	RewriteRule ^arabic/doctors/dermatologist/dr-vipul/?$ /arabic/doctors/dr-vipul-paul-thomas.html [L]
	RewriteRule ^arabic/doctors/dentist/dr-fatema/?$ /arabic/doctors/dr-fatema-tuj-jahura.html [L]
	RewriteRule ^arabic/doctors/practitioner/dr-salih/?$ /arabic/doctors/dr-muhammed-salih.html [L]
	RewriteRule ^arabic/doctors/practitioner/dr-rajani/?$ /arabic/doctors/dr-rajani-thachappilly.html [L]
	RewriteRule ^arabic/doctors/pediatrician/dr-sreevidya/?$ /arabic/doctors/dr-sreevidya-arun.html [L]
	RewriteRule ^arabic/doctors/practitioner/dr-nayana/?$ /arabic/doctors/dr-nayana-jose.html [L]
	RewriteRule ^arabic/doctors/pathology/dr-shemy/?$ /arabic/doctors/dr-shemy-seebu.html [L]
	RewriteRule ^arabic/doctors/physiotherapydr/dr-hanitta/?$ /arabic/doctors/ms-hanitta-thimothy.html [L]

	# Internal Rewrite for Clean URLs (e.g., /about silently loads /about.html)
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.html -f
	RewriteRule ^(.*)$ $1.html [L]
</IfModule>
